<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="p-2 pt-4">
    <ion-buttons slot="start">
      <ion-avatar class="w-10 h-10 cursor-pointer" matRipple matRippleColor="rgba(0, 0, 0, 0.4)">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" shape="round" fill="solid">
        <ion-icon class="text-[#e1a840]" slot="start" name="trophy"></ion-icon>
        <span class="opacity-80">9600</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none" color="primary">
    <div class="flex flex-col text-white">
      <ion-text class="text-3xl font-bold">Oi, Gabriel</ion-text>
      <ion-text class="text-sm font-thin">O que você vai estudar hoje?</ion-text>
    </div>
  </ion-item>
  <div>
    <div class="w-full pb-6 bg-[var(--ion-color-primary)] px-4 pt-3">
        <div class="text-white flex items-center gap-2">
          <ion-icon name="calendar"></ion-icon>
          <ion-text class="text-sm font-thin">Minha semana - 15 de agosto</ion-text>
        </div>
      <div class="mt-1">
        <app-weekday-display/>
      </div>
    </div>
    <div class="flex items-center gap-5 rounded-md bg-gradient-to-r p-4 to-[#6865E6] from-[#8856E9] text-white max-w-[90svw] mx-auto relative -top-3">
      <div class="flex flex-col">
        <ion-text class="font-bold text-xl">Se torne melhor</ion-text>
        <ion-text class="text-sm mt-1">
          Teste suas habilidades agora e descubra o quão especial você pode ser. Vamos nessa?
        </ion-text>
        <ion-button color="secondary" class="normal-case mt-4">
          <span class="text-white">Começar</span>
        </ion-button>
      </div>
      <div>
        <ion-img src="assets/image/target.png" class="w-16 h-16"></ion-img>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="p-2">
    <div class="flex gap-3 p-2 px-3 bg-gradient-to-b rounded-md from-[#FEB125] to-[#FB6822]">
      <ion-img src="assets/image/dream.png" class="w-20 h-20"></ion-img>
      <div class="flex flex-col text-white">
        <ion-text class="font-bold text-lg">Se esforce!</ion-text>
        <ion-text class="text-sm">Cada esforço conta. Está pronto para transformar seus sonhos em realidade?</ion-text>
      </div>
    </div>
  </div>
</ion-content>

