<ion-content>
  <ion-toolbar color="primary" class="p-2 pt-4">
    <ion-buttons slot="start">
      <ion-avatar class="w-10 h-10 cursor-pointer" matRipple matRippleColor="rgba(0, 0, 0, 0.4)" routerLink="/tabs/perfil">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" shape="round" fill="solid" routerLink="/tabs/achievement" class="relative right-0.5">
        <ion-icon class="text-[#e1a840]" slot="start" name="trophy"></ion-icon>
        <span class="opacity-80 relative right-0.5">1</span>
      </ion-button>
      <ion-button color="light" shape="round" fill="solid" (click)="openWeekdaySequenceDialog()">
        <ion-icon slot="start" color="primary" name="flame"></ion-icon>
        <span class="opacity-80 relative right-0.5">1</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none" color="primary">
    <div class="flex flex-col text-white">
      <ion-text class="text-3xl font-bold">Oi, Gabriel</ion-text>
      <ion-text class="text-sm font-thin">O que você vai estudar hoje?</ion-text>
    </div>
  </ion-item>
  <div>
    <div class="w-full pb-6 bg-[var(--ion-color-primary)] px-4 pt-3">
        <div class="text-white flex items-center gap-2">
          <ion-icon name="calendar"></ion-icon>
          <ion-text class="text-sm font-thin">Minha semana - 15 de agosto</ion-text>
        </div>
      <div class="mt-1">
        <app-weekday-display/>
      </div>
    </div>
    <div class="flex items-center pb-5 gap-5 rounded-md p-4 bg-gradient-to-r  to-[#6865E6] from-[#8856E9] text-white mx-4  relative -top-3">
      <div class="flex flex-col">
        <ion-text class="font-bold text-xl">Se torne melhor</ion-text>
        <ion-text class="text-sm mt-1">
          Teste suas habilidades agora e descubra o quão especial você pode ser. Vamos nessa?
        </ion-text>
        <ion-button color="secondary" class="normal-case mt-4" routerLink="/tabs/study">
          <span class="text-white">Começar</span>
        </ion-button>
      </div>
      <div>
        <ion-img src="assets/image/target.png" class="w-16 h-16"></ion-img>
      </div>
    </div>
  </div>
  <div class="p-2 px-3 pb-4">
    <div class="flex gap-3 py-4  px-3 rounded-md bg-gradient-to-l  from-[#FEB125] to-[#FB6822]">
      <ion-img src="assets/image/dream.png" class="min-w-16 min-h-16"></ion-img>
      <div class="flex flex-col text-white">
        <ion-text class="font-bold text-lg">Se esforce!</ion-text>
        <ion-text class="text-sm">Cada esforço conta. Está pronto para transformar seus sonhos em realidade?</ion-text>
      </div>
    </div>
    <div class="mt-4">
      <ion-text class="font-bold text-xl">Continue aprendendo</ion-text>
    </div>
    <div class="flex flex-col rounded-md bg-gradient-to-r  from-[#62B766] to-[#47A34C] mt-3 cursor-pointer" matRipple>
      <span class="flex justify-end">
        <ion-label class="relative right-5 top-2">
          <span class="bg-white text-black w-14 rounded-full flex justify-center items-center text-xs uppercase h-5 ">Fácil</span>
        </ion-label>
      </span>
      <div class="flex gap-5 px-2 pb-3">
        <ion-img src="assets/image/struggle.png" class="w-14 h-14"></ion-img>
        <div class="flex flex-col text-white">
          <ion-text class="text-sm">Programação Básica</ion-text>
          <ion-text class="text-lg font-bold">Desafio do dia</ion-text>
        </div>
      </div>
    </div>
    <div class="flex [&_div]:flex-1 gap-2 flex-wrap">
      <div routerLink="/tabs/statistic" class="flex p-3 flex-col rounded-md bg-gradient-to-l  from-[#39CCDC] to-[#578DE3] mt-3 cursor-pointer" matRipple>
        <ion-img src="assets/image/analytics.png" class="w-14 h-14"></ion-img>
        <div class="flex flex-col text-white mt-3">
          <ion-text class="font-bold text-lg">Estatísticas</ion-text>
          <ion-text class="text-sm">Acompanhe seu desempenho pontos fortes e fracos.</ion-text>
        </div>
      </div>
      <div routerLink="/tabs/chat" class="flex p-3 flex-col rounded-md bg-gradient-to-l  from-[#89C644] to-[#0AB193] mt-3 cursor-pointer" matRipple>
        <ion-img src="assets/image/chat.png" class="w-14 h-14"></ion-img>
        <div class="flex flex-col text-white mt-3">
          <ion-text class="font-bold text-lg">Chat</ion-text>
          <ion-text class="text-sm">Comunique-se com os usuários da plataforma.</ion-text>
        </div>
      </div>
      <div routerLink="/tabs/notepad" class="min-w-full pb-6 flex gap-3 p-3 items-center  rounded-md bg-gradient-to-l  from-[#3ECFB0] to-[#4ABBC1] mt-3 cursor-pointer" matRipple>
        <ion-img src="assets/image/notepad.png" class="w-14 h-14"></ion-img>
        <div class="flex flex-col text-white mt-3">
          <ion-text class="font-bold text-lg">Minhas notas</ion-text>
          <ion-text class="text-sm">Clique para ver detalhes.</ion-text>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-3">
      <ion-text class="font-bold text-xl">Mais</ion-text>
    </div>
    <swiper-container [slidesPerView]="1" [loop]="true" [spaceBetween]="10" [speed]="300">
      <swiper-slide>
        <div class="bg-[#1B4C99] p-4 rounded-md cursor-pointer h-32" matRipple>
          <ion-label class="flex justify-end">
            <ion-img src="assets/image/star.png" class="w-6 h-6"></ion-img>
          </ion-label>
          <div class="text-white flex flex-col">
            <ion-text class="text-lg font-bold">Avalie meu app!</ion-text>
            <ion-text class="text-sm">Me conte o que achou</ion-text>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="bg-[#5A2AD6] p-4 rounded-md cursor-pointer h-32" matRipple>
          <ion-label class="flex justify-end">
            <ion-img src="assets/image/friendship.png" class="w-6 h-6"></ion-img>
          </ion-label>
          <div class="text-white flex flex-col">
            <ion-text class="text-lg font-bold">Convide seus amigos</ion-text>
            <ion-text class="text-sm">Compartilhe com alguém!</ion-text>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="bg-[#5A2AD6] p-4 rounded-md cursor-pointer h-32" matRipple>
          <ion-label class="flex justify-end">
            <ion-img src="assets/image/mail.png" class="w-6 h-6"></ion-img>
          </ion-label>
          <div class="text-white flex flex-col">
            <ion-text class="text-lg font-bold">Entre em contato!</ion-text>
            <ion-text class="text-sm">Encontrou algum erro ou tem alguma sugestão? Manda para mim!</ion-text>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>

