<ion-content>
  <section class="h-full flex flex-col">
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/tabs" color="light"></ion-back-button>
      <ion-title color="light">Ranking</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <div class="flex [&>div]:flex-1  mx-6 gap-5 pt-5">
        <div #personRank class="flex flex-col gap-2 relative top-6">
          <div class="flex flex-col justify-center items-center">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span class="flex flex-col items-center mt-2">
              <ion-text class="font-medium text-white">José</ion-text>
              <div class="flex items-center gap-2">
                <span class="text-sm text-white">2.5M</span>
                <i class="fa-solid fa-medal text-[#cdb228]"></i>
              </div>
            </span>
          </div>
          <div class="bg-[#77c8eb] mat-elevation-z4 h-28 flex items-center justify-center rounded-tl-lg rounded-tr-lg text-4xl font-bold text-white">2</div>
        </div>

        <div #personRank class="flex flex-col gap-2 person-rank">
          <div class="flex flex-col justify-center items-center">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span class="flex flex-col items-center mt-2">
              <ion-text class="font-medium text-white">Gabriel</ion-text>
              <div class="flex items-center gap-2">
                <span class="text-sm text-white">2.7M</span>
                <i class="fa-solid fa-medal text-[#cdb228]"></i>
              </div>
            </span>
          </div>
          <div class="bg-[#77c8eb] mat-elevation-z4 h-28 flex items-center justify-center rounded-tl-lg rounded-tr-lg text-5xl font-bold text-white">1</div>
        </div>

        <div #personRank class="flex flex-col gap-2 relative top-12 person-rank">
          <div class="flex flex-col justify-center items-center">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span class="flex flex-col items-center mt-2">
              <ion-text class="font-medium text-white">Pedro</ion-text>
              <div class="flex items-center gap-2">
                <span class="text-sm text-white">1M</span>
                <i class="fa-solid fa-medal text-[#cdb228]"></i>
              </div>
            </span>
          </div>
          <div class="bg-[#77c8eb] mat-elevation-z4 h-28 pt-4 flex justify-center text-4xl font-bold rounded-tl-lg rounded-tr-lg text-white">3</div>
        </div>
      </div>
    </ion-toolbar>
    <div class="pt-5 relative flex-1">
      <div class="bg-gray-50 rounded-tl-[2rem] rounded-tr-[2rem] p-4 absolute w-full top-0 h-full shadow-lg">
        <ion-list lines="none">
          <ion-item lines="none" class="rounded-md mb-4 shadow-sm p-4 transition duration-200 hover:shadow-md">
            <div slot="start" class="flex items-center">
              <span class="font-bold text-2xl text-[#cdb228] mr-4">4</span>
              <ion-avatar class="w-12 h-12 mr-3">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <div class="flex flex-col">
                <ion-text class="text-lg font-medium">Gabriel Cardoso</ion-text>
                <div class="flex items-center gap-1 text-sm text-gray-500">
                  <i class="fa-solid fa-medal text-[#cdb228]"></i>
                  <span>600k</span>
                </div>
              </div>
            </div>
          </ion-item>

          <ion-item lines="none" class="bg-white rounded-md mb-4 shadow-sm p-4 transition duration-200 hover:shadow-md">
            <div slot="start" class="flex items-center">
              <span class="font-bold text-2xl text-[#cdb228] mr-4">5</span>
              <ion-avatar class="w-12 h-12 mr-3">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <div class="flex flex-col">
                <ion-text class="text-lg font-medium">José Silva</ion-text>
                <div class="flex items-center gap-1 text-sm text-gray-500">
                  <i class="fa-solid fa-medal text-[#cdb228]"></i>
                  <span>500k</span>
                </div>
              </div>
            </div>
          </ion-item>

          <ion-item lines="none" class="bg-white rounded-md mb-4 shadow-sm p-4 transition duration-200 hover:shadow-md">
            <div slot="start" class="flex items-center">
              <span class="font-bold text-2xl text-[#cdb228] mr-4">6</span>
              <ion-avatar class="w-12 h-12 mr-3">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <div class="flex flex-col">
                <ion-text class="text-lg font-medium">Pedro Almeida</ion-text>
                <div class="flex items-center gap-1 text-sm text-gray-500">
                  <i class="fa-solid fa-medal text-[#cdb228]"></i>
                  <span>450k</span>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </section>
</ion-content>
