<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/study"></ion-back-button>
    <ion-title>Simulados do Enade</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="flex  border border-black border-opacity-5 mx-3 rounded-lg py-8 flex-col items-center p-4 pt-8 shadow-md {{ cssClass }} text-white">
      <ion-text class="font-bold  text-xl">{{ title }}</ion-text>
      <ion-text class="text-sm">9 provas</ion-text>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="p-5">
    <ul class="flex flex-col gap-5">
      <li class="flex border w-full border-black border-opacity-20 shadow-lg rounded-lg cursor-pointer" matRipple routerLink="/quiz/started">
        <div class="bg-[#D1DDF7] flex items-center justify-center min-w-24 rounded-tl-lg rounded-bl-lg">
          <ion-img src="assets/image/computer.png" class="w-12 h-12 self-center"></ion-img>
        </div>
        <div class="flex-1 p-4 flex flex-col gap-2 bg-white">
          <ion-text class="font-semibold">Enade 2021</ion-text>
          <span class="flex items-center gap-1 text-sm">
            <ion-text>Respondidas:</ion-text>
            <ion-text class="font-medium">0</ion-text> de
            <ion-text class="font-medium">30</ion-text>
          </span>
          <span class="flex items-center gap-1 text-sm">
            <ion-text>Tempo decorrido:</ion-text>
            <ion-text class="font-medium">0m</ion-text>
            <ion-text class="font-medium">00s</ion-text>
          </span>
        </div>
      </li>

      <li class="flex border border-black border-opacity-20 shadow-lg rounded-lg cursor-pointer" matRipple routerLink="/quiz/started">
        <div class="bg-[#D1DDF7] flex items-center justify-center min-w-24 rounded-tl-lg rounded-bl-lg">
          <ion-img src="assets/image/computer.png" class="w-12 h-12 self-center"></ion-img>
        </div>
        <div class="flex-1 p-4 flex flex-col gap-2 bg-white">
          <ion-text class="font-semibold">Enade 2023</ion-text>
          <span class="flex items-center gap-1 text-sm">
            <ion-text>Respondidas:</ion-text>
            <ion-text class="font-medium">0</ion-text> de
            <ion-text class="font-medium">30</ion-text>
          </span>
          <span class="flex items-center gap-1 text-sm">
            <ion-text>Tempo decorrido:</ion-text>
            <ion-text class="font-medium">0m</ion-text>
            <ion-text class="font-medium">00s</ion-text>
          </span>
        </div>
      </li>

      <li class="flex border border-black border-opacity-20 shadow-lg rounded-lg cursor-pointer" matRipple routerLink="/quiz/started">
        <div class="bg-[#D1DDF7] flex items-center justify-center min-w-24 rounded-tl-lg rounded-bl-lg">
          <ion-img src="assets/image/computer.png" class="w-12 h-12 self-center"></ion-img>
        </div>
        <div class="flex-1 p-4 flex flex-col gap-2 bg-white">
          <ion-text class="font-semibold">Enade 2024</ion-text>
          <span class="flex items-center gap-1 text-sm">
            <ion-text>Respondidas:</ion-text>
            <ion-text class="font-medium">0</ion-text> de
            <ion-text class="font-medium">30</ion-text>
          </span>
          <span class="flex items-center gap-1 text-sm">
            <ion-text>Tempo decorrido:</ion-text>
            <ion-text class="font-medium">0m</ion-text>
            <ion-text class="font-medium">00s</ion-text>
          </span>
        </div>
      </li>
    </ul>
  </section>
</ion-content>
