<app-login-form>
  <div class="pb-4">
    <ion-item lines="none" class="form-group">
      <ion-input placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item lines="none" class="mt-4 form-group">
      <ion-input type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <div class="mt-3">
      <ion-text color="primary" class="hover:opacity-80 cursor-pointer text-sm hover:underline">Esqueci minha senha</ion-text>
    </div>

    <ion-button color="tertiary" expand="block"  class="button-login-email normal-case mt-4" href="/tabs">
      Entrar com E-mail
    </ion-button>

    <div class="flex items-center gap-2 opacity-60 mt-4">
      <div class="flex-1 h-[0.13rem] bg-black bg-opacity-40"></div>
      <span>ou</span>
      <div class="flex-1 h-[0.13rem] bg-black  bg-opacity-40"></div>
    </div>

    <div class="mt-4">
      <ion-item lines="none" button color="tertiary">
        <ion-icon slot="start" name="logo-google" color="light"></ion-icon>
        <ion-text color="light">Entrar com o Google</ion-text>
      </ion-item>
    </div>

  </div>
</app-login-form>
