ion-item.form-group {
  --background: #eeeeeebf;
  --border-radius: 0.8rem;
}



.button-login-email {
  --border-radius: 0.6rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;

  &::part(native) {
    color: white;
  }
}


.button-google, .button-github {
  --background: #4286F5;
  --border-radius: 0.5rem;
}

