<ion-header class="ion-no-border">
 <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="" (click)="back()"></ion-back-button>
  </ion-buttons>
 </ion-toolbar>
 <ion-toolbar color="primary">
  <span class="flex flex-col items-center justify-center gap-2 pb-2">
    <ion-avatar class="w-20 h-20">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <span class="flex flex-col gap-1 items-center">
      <ion-text class="text-white">Gabriel. G</ion-text>
      <ion-text class="text-white text-sm">0/999 questões</ion-text>
    </span>
  </span>
 </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-4">
    <ion-list lines="full" class="bg-[#eee]">
      <ion-item button href="/tabs/my-data">
        <ion-icon aria-hidden="true" name="settings" slot="start"></ion-icon>
        <ion-label>Meus dados</ion-label>
      </ion-item>
      <ion-item button class="mt-2" href="/tabs/statistic">
        <ion-icon slot="start" name="aperture-outline"></ion-icon>
        <ion-label>Estatísticas</ion-label>
      </ion-item>
      <ion-item button class="mt-2">
        <i slot="start" class="fa-solid fa-hammer"></i>
        <ion-label>Equipamentos</ion-label>
      </ion-item>
      <ion-item button class="mt-2" href="/account/login">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
    <ion-text class="absolute bottom-0 left-1/2 -translate-x-1/2 text-sm mb-2 opacity-70">Versão do APP 0.0.1</ion-text>
  </div>
</ion-content>
