<span class="flex flex-col gap-5 p-2 pt-4">
  <ion-input fill="outline" label="Nome completo" labelPlacement="floating"></ion-input>
  <ion-input class="mt-2" fill="outline" label="Email" labelPlacement="floating"></ion-input>
  <ion-input class="mt-2" fill="outline" label="Senha" labelPlacement="floating"></ion-input>
  <ion-input class="mt-2" fill="outline" label="Confirmar senha" labelPlacement="floating"></ion-input>
  <ion-text class="self-end hover:underline cursor-pointer">Esqueceu sua senha?</ion-text>
  <ion-button color="secondary" class="h-12">Registrar</ion-button>
  <ion-text class="text-sm text-center">
    Já possui uma conta? <ion-text class="font-bold hover:underline cursor-pointer">
      <ion-nav-link routerLink="/account/login">Entrar</ion-nav-link>
    </ion-text>
  </ion-text>
</span>
