<mat-dialog-content class="bg-white">
  <div>
    <div class="flex flex-col items-center justify-center">
      <ion-img src="assets/image/book.gif" class="w-24"></ion-img>
      <ion-text class="font-bold text-lg">Sequência de 1 dia!</ion-text>
      <ion-text class="text-center text-sm">Continue estudando diariamente para aumentar sua sequência!</ion-text>
    </div>
    <div class="flex flex-col justify-center items-center mt-4">
      <ion-text class="text-xs opacity-60">Seus últimos 7 dias</ion-text>
      <ul class="flex [&_li]:flex [&_li]:flex-1 [&_li]:items-center [&_li]:justify-center w-full mt-4">
        <li>
          <div class="flex flex-col items-center">
            <ion-button size="small" disabled>
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <span class="font-extrabold opacity-70">D</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <ion-button size="small" disabled>
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <span class="font-extrabold opacity-70">S</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <ion-button size="small" disabled>
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <span class="font-extrabold opacity-70">T</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <ion-button size="small" disabled>
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <span class="font-extrabold opacity-70">Q</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <ion-button size="small" disabled>
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <span class="font-extrabold opacity-70">Q</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <ion-button size="small" class="checked">
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <span class="font-extrabold opacity-70">S</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <ion-button size="small" class="checked">
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <span class="font-extrabold opacity-70">S</span>
          </div>
        </li>
      </ul>
      <ion-button matDialogClose expand="full" color="primary" class="w-full mt-4 normal-case">
        <span class="text-white">Continuar</span>
      </ion-button>
    </div>
  </div>
</mat-dialog-content>



