<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-back-button color="light" defaultHref="/tabs"></ion-back-button>
      <ion-title color="light">Minhas Notas</ion-title>
      <ion-button routerLink="/tabs/create-note" fill="clear" color="light">
        <i slot="icon-only" class="fa-solid fa-circle-plus text-2xl"></i>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div class="h-full flex items-center justify-center text-center px-4">
    <ion-text class="text-lg opacity-30 font-semibold">Você ainda não tem nenhuma nota, aperte em + para criar uma!</ion-text>
  </div> -->
  <div class="py-4 px-2 mt-3">
    <div class="[&_div]:w-40 flex flex-wrap  gap-3 justify-center cursor-pointer">
      <div class="bg-white rounded-md" matRipple>
        <div class="h-1 bg-red-500 rounded-l-lg rounded-r-lg"></div>
        <div class="p-3">
          <ion-text class="text-sm opacity-60">16 de ago de 2024</ion-text>
          <div class="flex flex-col mt-3">
            <ion-text class="font-medium">Nota sem título</ion-text>
            <ion-text class="text-xs">Conteúdo...</ion-text>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-md" matRipple>
        <div class="h-1 bg-red-500 rounded-l-lg rounded-r-lg"></div>
        <div class="p-3">
          <ion-text class="text-sm opacity-60">16 de ago de 2024</ion-text>
          <div class="flex flex-col mt-3">
            <ion-text class="font-medium">Nota sem título</ion-text>
            <ion-text class="text-xs">Conteúdo...</ion-text>
          </div>
        </div>
      </div>
   </div>
  </div>
</ion-content>
