<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/tabs"></ion-back-button>
    <ion-text class="text-white font-bold">Shopping</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-4">
    <span>
      <span>
          <ion-select aria-label="fruit" placeholder="Select fruit" fill="outline" value="todos">
            <ion-select-option value="apples">Armadura</ion-select-option>
            <ion-select-option value="oranges">Espada</ion-select-option>
            <ion-select-option value="elmo">Elmo</ion-select-option>
            <ion-select-option value="sapato">Sapato</ion-select-option>
            <ion-select-option value="escudo">Escudo</ion-select-option>
            <ion-select-option value="todos">Todos</ion-select-option>
          </ion-select>
          <div class="bg-[transparent] flex flex-col  items-start gap-2 mt-2">
            <span class="flex">
              <div>
                <ion-input type="number" fill="outline" placeholder="Preço Mínimo"></ion-input>
              </div>
              <div>
                <ion-input type="number" fill="outline" placeholder="Preço Máximo"></ion-input>
              </div>
            </span>
            <ion-button color="secondary">Aplicar</ion-button>
          </div>
      </span>
    </span>
    <ion-grid class="mt-5">
      <ion-row class="border l">
        <ion-col size="4">
          <span class="cursor-pointer flex flex-col gap-2 bg-[#ffffffcd] border-5 min-w-20 border border-black border-opacity-20">
            <ion-img src="assets/image/weapon.png" class="object-fill"></ion-img>
              <span class="flex gap-2 px-2 border-t border-black border-opacity-20 bg-white items-center justify-end">
                <ion-text>22</ion-text>
                <i class="fa-solid fa-coins text-orange-400"></i>
              </span>
          </span>
        </ion-col>
        <ion-col size="4">
          <span class="cursor-pointer flex flex-col gap-2 bg-[#ffffffcd] border-5 min-w-20 border border-black border-opacity-20">
            <ion-img src="assets/image/weapon.png" class="object-fill"></ion-img>
              <span class="flex gap-2 px-2 border-t border-black border-opacity-20 bg-white items-center justify-end">
                <ion-text>22</ion-text>
                <i class="fa-solid fa-coins text-orange-400"></i>
              </span>
          </span>
        </ion-col>
        <ion-col size="4">
          <span class="cursor-pointer flex flex-col gap-2 bg-[#ffffffcd] border-5 min-w-20 border border-black border-opacity-20">
            <ion-img src="assets/image/weapon.png" class="object-fill"></ion-img>
              <span class="flex gap-2 px-2 border-t border-black border-opacity-20 bg-white items-center justify-end">
                <ion-text>22</ion-text>
                <i class="fa-solid fa-coins text-orange-400"></i>
              </span>
          </span>
        </ion-col>
        <ion-col size="4">
          <span class="cursor-pointer flex flex-col gap-2 bg-[#ffffffcd] border-5 min-w-20 border border-black border-opacity-20">
            <ion-img src="assets/image/armor.png" class="object-fill"></ion-img>
              <span class="flex gap-2 px-2 border-t border-black border-opacity-20 bg-white items-center justify-end">
                <ion-text>22</ion-text>
                <i class="fa-solid fa-coins text-orange-400"></i>
              </span>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
