ion-menu {
  --min-width: 100svw;
}

ion-toolbar {
  --background: var(--ion-color-primary-shade);
}

ion-menu-button {
  --color: white;
}


ion-button {
  --background: white !important;
  --border-radius: 1rem !important;

  &::part(native) {
    padding: 0 0.6rem;
  }
}

