<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/study"></ion-back-button>
    <ion-title>Simulados do Enade</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="flex  border mx-3 rounded-lg py-8 flex-col items-center p-4 pt-8 shadow-md bg-gradient-to-l from-[#5eb0ef] to-[#1350c0] text-white">
      <ion-text class="font-bold  text-xl">Histórico de Provas</ion-text>
      <ion-text class="text-sm">Acompanhe seu progresso</ion-text>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="p-5 h-full ">
    <div class="bg-white h-full rounded-lg shadow-lg border border-black border-opacity-10 p-5 flex items-center justify-center">
      <ion-text class="text-lg font-thin text-center">Os históricos dos seus simulados aparecerão aqui!</ion-text>
    </div>
  </section>
</ion-content>
