<app-menu-wrapper>
  <div class="p-4">
    <span class="flex flex-col">
      <ion-text class="text-2xl font-bold">Bem-vindo, Gabriel!</ion-text>
      <ion-text class="text-base mt-1 opacity-70">Sua jornada de estudos começa aqui.</ion-text>
    </span>


    <div class="relative mt-5">
      <span class="absolute right-0 top-5">
        <ion-icon name="timer-sharp" class="text-[var(--ion-color-primary)] scale-125"></ion-icon>
      </span>
       <div class="mx-auto w-[200px]  h-[200px] border-[var(--ion-color-primary)] p-2 border-[0.5rem] border-r-[#53b753] rounded-full relative">
          <span class=" bg-[#eeeeeec8]  w-full h-full rounded-full flex flex-col items-center p-2">
            <ion-img src="assets/image/medal.png" class="w-8 h-8"/>
            <ion-text class="font-bold mt-2">Há 2 horas atrás</ion-text>
            <ion-text class="text-xs text-center">você atingiu sua meta diária!</ion-text>
            <div class="w-12 h-12 bg-white rounded-full flex items-center justify-center mt-3 border relative">
              <ion-img src="assets/image/bau-de-tesouro.png" class="w-8 h-8"/>
              <div class="w-2 h-2 rounded-full bg-red-500 absolute top-0 right-2"></div>
            </div>
          </span>
       </div>
    </div>

    <div class="mt-5 flex flex-col gap-3 max-w-[95%] mx-auto shadow-lg">
      <ion-text class="font-bold text-xl">Teste seus conhecimentos</ion-text>
      <div class="flex items-center gap-3 bg-[#1A7ECC] text-white p-2 rounded-lg px-4 cursor-pointer">
        <ion-img src="assets/image/leitura-de-prova.png" class="scale-75"></ion-img>
        <ion-text class="font-bold text-lg" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">Simulado <br> Personalizado</ion-text>
      </div>
    </div>


    <div class="mt-5 flex flex-col gap-3 max-w-[95%] mx-auto">
      <ion-text class="font-bold text-xl">Estude por temas</ion-text>

      <div>
        <div class="cursor-pointer flex gap-3 flex-wrap">
          <span class="flex flex-col gap-2 bg-[#28aa28] p-3 rounded-lg pt-5 flex-1">
            <ion-img src="assets/image/redes.png" class="w-10 h-10"></ion-img>
            <ion-text class="text-white text-sm"  style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">Redes de Computadores</ion-text>
          </span>

          <span class="flex flex-col gap-2 bg-[#912aa8] p-3 rounded-lg pt-5 flex-1">
            <ion-img src="assets/image/programacao.png" class="w-10 h-10"></ion-img>
            <ion-text class="text-white text-sm"  style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">Fundamentos de Computação</ion-text>
          </span>

          <span class="flex flex-col gap-2 bg-[#29beaf] p-3 rounded-lg pt-5 flex-1">
            <ion-img src="assets/image/desenvolvimento.png" class="w-10 h-10"></ion-img>
            <ion-text class="text-white text-sm"  style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">Desenvolvimento de Software</ion-text>
          </span>

          <span class="flex flex-col gap-2 bg-[#c82c2c] p-3 rounded-lg pt-5 flex-1">
            <ion-img src="assets/image/ciber-seguranca.png" class="w-10 h-10"></ion-img>
            <ion-text class="text-white text-sm"  style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">Segurança da Informação</ion-text>
          </span>

          <span class="flex flex-col gap-2 bg-[#808080] p-3 rounded-lg pt-5 flex-1">
            <ion-img src="assets/image/infraestrutura.png" class="w-10 h-10"></ion-img>
            <ion-text class="text-white text-sm"  style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">Infraestrutura</ion-text>
          </span>
        </div>
      </div>



    </div>


  </div>
</app-menu-wrapper>
