<ion-menu contentId="menu-community-content" [menuId]="menuId">
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="primary">
      <div slot="start" class="flex gap-2 items-center">
        <ion-back-button color="light" defaultHref="/tabs/community" (click)="closeMenu()"></ion-back-button>
        <ion-text color="light" class="text-2xl font-medium">Amigos</ion-text>
      </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <div class="px-3 pb-3">
        <ion-searchbar  [animated]="true" placeholder="Pesquisar..."></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none" class="friends">

      @for (i of countItems; track i; let even = $even) {
        <ion-item button routerLink="/tabs/chat">
          <p-avatar
          label="G"
          size="large"
          styleClass="font-bold bg-[#5B6CBE] text-white"
          shape="circle" />
          <div class="flex flex-col ms-4 w-full gap-0.5 pb-3">
            <div class="flex justify-between items-center">
              <ion-text class="font-medium mt-3">Gabriel Cardoso</ion-text>

              <p-tag *ngIf="even" severity="success"  value="Online" [rounded]="true" />
              <p-tag *ngIf="!even" severity="warning"  value="Offline" [rounded]="true" />

              <!-- <div class="w-3 h-3 relative top-4 rounded-full {{ even ? 'bg-green-600' : 'bg-red-600' }} "></div> -->
            </div>
            <ion-text class="text-sm opacity-80">Visto por último ontem às 15:00</ion-text>
          </div>
        </ion-item>
      }

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="menu-community-content">
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="primary">
      <div slot="start" class="flex gap-2 items-center">
        <ion-menu-button color="light" [autoHide]="true" slot="start" menu="menu-community"></ion-menu-button>
        <ion-text color="light" class="text-2xl font-medium">Conversas</ion-text>
      </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <div class="px-3 pb-3">
        <ion-searchbar  [animated]="true" placeholder="Pesquisar..."></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>

    <ion-fab vertical="bottom" horizontal="end" class="me-2 mb-2" (click)="showMenu()">
      <ion-fab-button>
        <ion-icon name="chatbubbles" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab>




  <ion-content>
    <ion-list>

      @for (i of countItems; track i) {
        <ion-item button routerLink="/tabs/chat">
          <p-avatar
          label="G"
          size="large"
          styleClass="font-bold bg-[#5B6CBE] text-white"
          shape="circle" />
          <div class="flex justify-between ms-4 w-full gap-0.5 pb-3">
            <div class="flex flex-col justify-center mt-1">
              <ion-text class="font-medium">Gabriel Cardoso</ion-text>
              <ion-text class="text-sm">Oi, vamos estudar mais?</ion-text>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-xs">17:00</span>
              <p-badge [value]="2"/>
            </div>
          </div>
        </ion-item>
      }
    </ion-list>

  </ion-content>
</div>
