ion-searchbar {
  --border-radius: 0.5rem;
  --background: #fff;
  --box-shadow: none;
}

ion-menu {
  --min-width: 100svw;
}

ion-list {
  ion-item {
    --background: white;
    --padding-top: 0.2rem;
    --padding-bottom: 0.2rem;
  }
}


.friends {

  ion-item {
    --padding-top: 0.2rem;
    --padding-bottom: 0.2rem;
  }

  ion-item:nth-child(2n + 1) {
    --background: #eeeeeec3;
  }
}
