<mat-dialog-content>
  <div>
    <div class="flex flex-col  mt-4 w-full">
      <div class="flex justify-between items-center">
        <ion-text class="text-2xl font-bold">Atualizar nome</ion-text>
        <ion-button fill="clear" matDialogClose>
          <ion-icon color="dark" slot="icon-only" name="close" class="text-2xl"></ion-icon>
        </ion-button>
      </div>
      <div class="mt-2">
        <ion-input placeholder="Digite seu novo nome.."></ion-input>
      </div>
      <ion-button matDialogClose expand="full" color="primary" class="w-full mt-4 normal-case">
        <span class="text-white">Salvar</span>
      </ion-button>
    </div>
  </div>
</mat-dialog-content>



