<ion-content>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-item color="primary" lines="none" class="pt-4">
      <ion-text slot="start" class="text-3xl font-bold text-white">Estude</ion-text>
      <ion-button class="search-button" slot="end" routerLink="/tabs/search">
        <ion-icon slot="icon-only" name="search" class="text-white text-3xl" matRipple></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <div class="bg-[var(--ion-color-primary)]">
    <div class="mx-4 flex flex-col mat-elevation-z4 gap-2 pb-7 pt-6 px-5 rounded-lg cursor-pointer shadow-md bg-gradient-to-l from-[#cd75ff] to-[#4c47ec] text-white relative top-4">
      <div class="flex gap-4">
        <ion-img src="assets/image/dice.png" class="w-20 h-20"></ion-img>
        <div class="flex flex-col">
          <ion-text class="text-xl font-semibold">Simulados</ion-text>
          <ion-text class="text-sm">Pratique com perguntas variadas.</ion-text>
        </div>
      </div>
      <ion-button class="normal-case button-start" routerLink="/quiz/customized">
        <span class="text-white">Começar</span>
      </ion-button>
    </div>
  </div>

  <div  class="mt-5 p-4 flex [&_div]:flex-1 [&_div]:h-48 [&>div]:opacity-0 [&_div]:min-w-[40%] gap-3 flex-wrap">
    <div #studyItem routerLink="/quiz/programming-logic" class="flex mat-elevation-z4 rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l from-[#ffb429] to-[#f15c17]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/logic.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Lógica</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div #studyItem routerLink="/quiz/fundamentals-of-computing" class="flex mat-elevation-z4 rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l from-[#59eb60] to-[#03a20b]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/code.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Fundamentos</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div #studyItem routerLink="/quiz/software-development" class="flex mat-elevation-z4 rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l from-[#2fd6e9] to-[#2b06d0]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/software.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Software</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div #studyItem routerLink="/quiz/information-security" class="flex mat-elevation-z4 rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l from-[#9fe949] to-[#049a70]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/security.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Segurança</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div #studyItem routerLink="/quiz/infrastructure" class="flex mat-elevation-z4 rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 bg-gradient-to-l from-[#55e4c5] to-[#0851c7]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/infrastructure.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Infraestrutura</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div #studyItem routerLink="/quiz/history" class="flex mat-elevation-z4 rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 bg-gradient-to-l from-[#5eb0ef] to-[#1350c0]" matRipple>
      <span class="flex flex-grow-[2] justify-center">
          <ion-img src="assets/image/writing.png" class="w-20 h-20 self-center"></ion-img>
      </span>
      <div >
        <span class="flex justify-center items-center text-white mb-1">
          <ion-text class="font-medium">Seu Histórico</ion-text>
        </span>
      </div>
  </div>

  </div>
</ion-content>
