<app-login-form>
  <div image-content class="text-center py-1">
    <img src="assets/image/student.png" >
  </div>
  <div form-inputs class="flex flex-col gap-5">
    <input pInputText placeholder="Nome" class="w-full"/>
    <input pInputText type="email" placeholder="E-mail" class="w-full"/>
    <input pInputText type="password" placeholder="Senha" class="w-full"/>
    <input pInputText type="password" placeholder="Confirmar a Senha" class="w-full"/>
    <p-button label="Registrar" styleClass="w-full"></p-button>
  </div>
  <div footer-content class="flex items-center gap-2" routerLink="/account/login" matRipple>
    <span class="flex text-sm items-center">Já tem uma conta?</span>
    <span class="text-[#327aaa]">Entrar</span>
  </div>
</app-login-form>
