<div class="flex gap-5 relative" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
  <div>
    <p-avatar
      label="G"
      size="large"
      styleClass="font-bold bg-[#5B6CBE] text-white cursor-pointer"
      (click)="menuClosed.set(!menuClosed())"
      shape="circle"/>
  </div>
  <div class="relative top-0.5">
    <span class="flex items-center gap-2 text-sm" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
      <ion-text class="fo-medium">Gabriel Cardoso</ion-text>
      <ion-text>05:00 AM</ion-text>
    </span>
    <div class="bg-white p-2 rounded-md mt-2 text-sm" [ngClass]="{ '!bg-[var(--ion-color-primary)]': isOwnMessage, 'text-white': isOwnMessage }">
      Olá, galera tudo bem com vocês?
    </div>
  </div>

  <app-chat-menu class="absolute top-12 z-40" [items]="items" [menuClosed]="menuClosed()" />

</div>


