<div class="flex gap-5 relative" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
  <div >
    <p-avatar
      label="G"
      size="large"
      styleClass="font-bold bg-[#5B6CBE] text-white cursor-pointer"
      (click)="menuClosed.set(!menuClosed())"
      shape="circle"/>
  </div>
  <div class="relative top-0.5">
    <span class="flex items-center gap-2 text-sm" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
      <ion-text class="fo-medium">Gabriel Cardoso</ion-text>
      <ion-text>05:00 AM</ion-text>
    </span>
    <div class="bg-white p-2 rounded-md mt-2 text-sm" [ngClass]="{ '!bg-[var(--ion-color-primary)]': isOwnMessage, 'text-white': isOwnMessage }">
      Olá, galera tudo bem com vocês?
    </div>
  </div>
  <div *ngIf="!menuClosed()" class="menu absolute  p-2 top-12 z-40 mt-2 w-[40vw] rounded-lg bg-gradient-to-t from-blue-500 to-blue-700">
    <div class="absolute -top-3 overflow-hidden h-5 z-50 w-full left-0 ">
      <div class="triangle bg-gradient-to-r from-blue-500 to-blue-700"></div>
    </div>
    <ul class="list-none flex flex-col gap-2 text-sm text-white">
      <li class="p-2 cursor-pointer" *ngFor="let item of items" matRipple (click)="item.command()">{{ item.label }}</li>
    </ul>
  </div>
</div>


