<div class="flex gap-5 relative" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
  <div >
    <p-avatar
      label="G"
      size="large"
      styleClass="font-bold bg-[#5B6CBE] text-white cursor-pointer"
      (click)="menuClosed.set(!menuClosed())"
      shape="circle"/>
  </div>
  <div class="relative top-0.5">
    <span class="flex items-center gap-2 text-sm" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
      <ion-text class="fo-medium">Gabriel Cardoso</ion-text>
      <ion-text>05:00 AM</ion-text>
    </span>
    <div class="bg-white p-2 rounded-md mt-2 text-sm" [ngClass]="{ '!bg-[var(--ion-color-primary)]': isOwnMessage, 'text-white': isOwnMessage }">
      Olá, galera tudo bem com vocês?
    </div>
  </div>

  @if (!menuClosed()) {
    <div class="absolute p-2 top-12 z-40 mt-2 w-[40vw] rounded-lg bg-[var(--ion-color-primary)] border border-solid border-white shadow-lg transition-transform duration-300 ease-out transform hover:scale-105">
      <ul class="list-none flex flex-col gap-2 text-sm text-white">
        <li class="p-3 cursor-pointer rounded-md transition-colors duration-300 hover:bg-opacity-80 hover:bg-white hover:text-[var(--ion-color-primary)]"
            *ngFor="let item of items" matRipple (click)="item.command()">
          {{ item.label }}
        </li>
      </ul>
    </div>


  }

</div>


