
ion-tab-bar,ion-tabs {
  --background: #039ae69a;
  background-color: #039ae6;
}


ion-icon, ion-label {
  --color: white;
  color: white !important;
}

.tab-selected {

  ion-icon, ion-label {
    opacity: 0.6 !important;
  }
}


ion-fab-button {
  --background: #eee;
}
