<ion-content>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-item color="primary" lines="none" class="pt-4">
      <ion-text slot="start" class="text-3xl font-bold text-white">Estude</ion-text>
      <ion-button class="search-button"  slot="end" href="/tabs/search">
        <ion-icon slot="icon-only" name="search" class="text-white text-3xl" matRipple></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
  <div class="bg-[var(--ion-color-primary)]">
    <div class="mx-4 flex flex-col  gap-2 pb-7 pt-6 px-5 rounded-lg cursor-pointer  shadow-md bg-gradient-to-b from-[#9574d8] to-[#7472d4] text-white relative top-4">
      <div class="flex gap-4">
        <ion-img src="assets/image/dice.png" class="w-20 h-20"></ion-img>
        <div class="flex flex-col">
          <ion-text class="text-xl font-semibold">Simulados</ion-text>
          <ion-text class="text-sm">Pratique com perguntas variadas.</ion-text>
        </div>
      </div>
      <ion-button class="normal-case button-start" routerLink="/quiz/customized">
        <span class="text-white">Começar</span>
      </ion-button>
    </div>
  </div>
  <div  class="mt-5 p-4 flex [&_div]:flex-1 [&_div]:h-48 [&_div]:min-w-[40%] gap-3 flex-wrap">
    <div routerLink="/quiz/programming-logic" class=" flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l  from-[#FEB125] to-[#FB6822]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/computer.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Lógica</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div routerLink="/quiz/fundamentals-of-computing" class=" flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-r  from-[#7acf7e] to-[#47A34C]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/ciencia-da-computacao.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Fundamentos</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div routerLink="/quiz/software-development" class=" flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l  from-[#39CCDC] to-[#578DE3]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/software-de-impressao-3d.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Software</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div routerLink="/quiz/information-security" class=" flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l  from-[#89C644] to-[#0AB193] " matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/cyber-security.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Segurança</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>


    <div routerLink="/quiz/infrastructure" class=" flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 bg-gradient-to-l  from-[#3ECFB0] to-[#4ABBC1]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/ciber-seguranca (3).png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Infraestrutura</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div routerLink="/quiz/history" class=" flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 bg-gradient-to-r  to-[#1A7ECC] from-[#5096cc]" matRipple>
      <span class="flex flex-grow-[2] justify-center">
          <ion-img src="assets/image/writing.png" class="w-20 h-20 self-center"></ion-img>
      </span>
      <div >
        <span class="flex justify-center items-center text-white mb-1">
          <ion-text class="font-medium">Seu Histórico</ion-text>
        </span>
      </div>
  </div>


  </div>
</ion-content>
