<ion-content>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-item color="primary" lines="none" class="pt-4">
      <ion-text slot="start" class="text-3xl font-bold text-white">Estude</ion-text>
      <ion-button class="search-button"  slot="end" href="/tabs/search">
        <ion-icon slot="icon-only" name="search" class="text-white text-3xl" matRipple></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
  <div class="bg-[var(--ion-color-primary)]">
    <div matRipple class="mx-4 flex gap-4 rounded-lg cursor-pointer p-4  shadow-md bg-gradient-to-l from-[#482a85] via-[#6952a4] to-[#8d8cd1] text-white relative top-8">
      <ion-img src="assets/image/dice.png" class="w-16 h-16"></ion-img>
      <div class="flex flex-col">
        <ion-text class="text-xl font-semibold">Simulados</ion-text>
        <ion-text class="text-sm">Pratique com perguntas variadas.</ion-text>
      </div>
    </div>
  </div>
  <div class="mt-12 p-4 flex [&_div]:flex-1 [&_div]:h-48 [&_div]:min-w-[40%] gap-3 flex-wrap">
    <div class="flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-r from-[#57945a] via-[#6fae70] to-[#86cb88]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/computer.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Lógica</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div class="flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l from-[#7951C1] via-[#9672cf] to-[#b19bd8]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/ciencia-da-computacao.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Computação</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div class="flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-r from-[#3845a5] via-[#5d72c5] to-[#90a0e5]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/software-de-impressao-3d.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Software</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>

    <div class="flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 shadow-md bg-gradient-to-l from-[#d33f3f] via-[#db6241] to-[#e7804d] " matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/cyber-security.png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Segurança</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>


    <div class="flex rounded-lg flex-col cursor-pointer gap-2 py-4 px-2 bg-gradient-to-r from-[#5d5555] via-[#8a837c] to-[#b5b3ad]" matRipple>
        <span class="flex flex-grow-[2] justify-center">
            <ion-img src="assets/image/ciber-seguranca (3).png" class="w-20 h-20 self-center"></ion-img>
        </span>
        <div >
          <span class="flex justify-between items-center text-white mb-1">
            <ion-text class="font-medium text-sm">Infraestrutura</ion-text>
            <ion-text class="opacity-90 text-thin text-sm">0/10</ion-text>
          </span>
          <ion-progress-bar/>
        </div>
    </div>


  </div>
</ion-content>
