<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs"></ion-back-button>
    <ion-title>Conquistas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-4">
    <ion-grid>
      <ion-row>
        <ion-col size="6">

          <div class="relative h-48" >
            <div class="flex flex-col bg-[#5D9CCC] text-white rounded-lg shadow-md p-3 h-full">
              <!-- <div class="item-hidden">
                <ion-img src="assets/image/trancar.png" class="w-16 h-16"></ion-img>
              </div> -->
              <ion-img src="assets/image/lancamento-do-foguete.png" class="w-20 h-20 mb-2 mx-auto"></ion-img>
            <ion-text class="font-medium text-sm">Tudo tem um <br/> começo</ion-text>
            <ion-text class="text-xs opacity-80">Você fez seu primeiro quizz</ion-text>
            </div>
         </div>
        </ion-col>
        <ion-col size="6">
         <div class="relative h-48" >
            <div class="flex flex-col bg-[#b79d5c] text-white rounded-lg shadow-md p-3 h-full">
              <div class="item-hidden">
                <ion-img src="assets/image/trancar.png" class="w-16 h-16"></ion-img>
              </div>
              <ion-img src="assets/image/livro-de-feiticos.png" class="w-20 h-20 mb-2 mx-auto"></ion-img>
              <ion-text class="font-medium text-sm">Estudioso</ion-text>
              <ion-text class="text-xs opacity-80">Você fez completou 10 quizz</ion-text>
            </div>
         </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
