<ion-content>
  <ion-toolbar color="primary" class="p-2">
    <ion-buttons slot="start">
      <p-avatar
        routerLink="/tabs/perfil"
        label="G"
        styleClass="mr-2"
        shape="circle"
        styleClass="font-bold bg-[#5B6CBE] text-white"
        size="large" />
    </ion-buttons>
    <ion-buttons slot="end">
      <p-chip routerLink="/tabs/achievement" styleClass="flex items-center  gap-1 min-w-14 h-8" matRipple>
        <ion-icon class="text-[#bba741] text-xl" name="trophy"></ion-icon>
        <span class="font-semibold">1</span>
      </p-chip>
      <p-chip (click)="openWeekdaySequenceDialog()" styleClass="flex items-center  gap-1 min-w-14 h-8 ms-2" matRipple>
        <ion-icon class="text-[#bba741] text-xl" color="primary" name="flame"></ion-icon>
        <span class="font-semibold">1</span>
      </p-chip>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none" color="primary">
    <div class="flex flex-col text-white">
      <ion-text class="text-3xl font-bold">Oi, Gabriel</ion-text>
      <ion-text class="text-sm font-thin">O que você vai estudar hoje?</ion-text>
    </div>
  </ion-item>
  <div>
    <div class="w-full pb-6 bg-[var(--ion-color-primary)] px-4 pt-3 mat-elevation-z2">
        <div class="text-white flex items-center gap-2">
          <ion-icon name="calendar"></ion-icon>
          <ion-text class="text-sm font-thin">Minha semana - 15 de agosto</ion-text>
        </div>
      <div class="mt-1">
        <app-weekday-display/>
      </div>
    </div>
    <div class="flex items-center p-5 gap-5 rounded-md bg-gradient-to-l mat-elevation-z2 from-[#cd75ff] to-[#4c47ec] text-white mx-3 relative -top-3">
      <div class="flex flex-col">
        <ion-text class="font-bold text-xl">Se torne melhor</ion-text>
        <ion-text class="text-sm mt-1">
          Teste suas habilidades agora e descubra o quão especial você pode ser. Vamos nessa?
        </ion-text>
        <ion-button class="button-explorer normal-case mt-4" routerLink="/tabs/study">
          <span class="text-white">Explorar</span>
        </ion-button>
      </div>
      <div>
        <ion-img src="assets/image/target-new.png" class="w-20 h-20"></ion-img>
      </div>
    </div>
  </div>
  <div class="pt-2 px-3 pb-4">
    <div class="flex gap-3 items-center py-4 px-4 mat-elevation-z2 rounded-md bg-gradient-to-b from-[#FEB125] to-[#FB6822]">
      <ion-img src="assets/image/dream-new.png" class="max-w-20 max-h-20"></ion-img>
      <div class="flex flex-col text-white">
        <ion-text class="font-bold text-lg">Se esforce!</ion-text>
        <ion-text class="text-sm">Cada esforço conta. Está pronto para transformar seus sonhos em realidade?</ion-text>
      </div>
    </div>
    <div class="mt-4">
      <ion-text class="font-bold text-xl">Continue aprendendo</ion-text>
    </div>
    <div class=" flex flex-col py-4 px-2 mat-elevation-z2 rounded-md bg-gradient-to-b  from-[#80ec86] to-[#28b32f] mt-3 cursor-pointer" matRipple>
      <span class="flex justify-end">
        <ion-label class="relative right-1 top-0">
          <span class="bg-white w-14 rounded-full flex justify-center items-center text-xs uppercase h-5 text-green-800" style="box-shadow: rgb(99, 99, 99) 2px 2px;">Fácil</span>
        </ion-label>
      </span>
      <div class="flex gap-5 px-2 pb-3">
        <ion-img src="assets/image/struggle-new.png" class="w-14 h-14"></ion-img>
        <div class="flex flex-col text-white">
          <ion-text class="text-sm">Programação Básica</ion-text>
          <ion-text class="text-lg font-bold">Desafio do dia</ion-text>
        </div>
      </div>
    </div>
    <div class="flex [&_div]:flex-1 gap-2 flex-wrap">
      <div routerLink="/tabs/statistic" class=" flex p-4 flex-col mat-elevation-z2 rounded-md bg-gradient-to-l  from-[#39CCDC] to-[#578DE3] mt-3 cursor-pointer" matRipple>
        <ion-img src="assets/image/analytics-new.png" class="w-14 h-14 mb-2"></ion-img>
        <div class="flex flex-col text-white">
          <ion-text class="font-bold text-lg">Estatísticas</ion-text>
          <ion-text class="text-sm">Acompanhe seu desempenho pontos fortes e fracos.</ion-text>
        </div>
      </div>
      <div routerLink="/tabs/chat" class=" mat-elevation-z2 flex p-4 flex-col rounded-md bg-gradient-to-l  from-[#89C644] to-[#0AB193] mt-3 cursor-pointer" matRipple>
        <ion-img src="assets/image/chat-new.png" class="w-14 h-14"></ion-img>
        <div class="flex flex-col text-white">
          <ion-text class="font-bold text-lg">Chat</ion-text>
          <ion-text class="text-sm">Comunique-se com os usuários da plataforma.</ion-text>
        </div>
      </div>
      <div routerLink="/tabs/notepad" class=" mat-elevation-z2 min-w-full flex gap-3 py-7 px-5 items-center  rounded-md bg-gradient-to-l  from-[#48dbbb] to-[#10add8] mt-3 cursor-pointer" matRipple>
        <ion-img src="assets/image/notepad.png" class="w-14 h-14"></ion-img>
        <div class="flex flex-col text-white">
          <ion-text class="font-bold text-lg">Minhas notas</ion-text>
          <ion-text class="text-sm">Clique para ver detalhes.</ion-text>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-3">
      <ion-text class="font-bold text-xl">Mais</ion-text>
    </div>
    <swiper-container [slidesPerView]="1"  [spaceBetween]="10" [speed]="300">
      <swiper-slide>
        <div class="bg-[#1c69e4] p-4 rounded-md cursor-pointer mat-elevation-z2 h-32 " matRipple>
          <ion-label class="flex justify-end">
            <ion-img src="assets/image/star.png" class="w-6 h-6"></ion-img>
          </ion-label>
          <div class="text-white flex flex-col">
            <ion-text class="text-lg font-bold">Avalie meu app!</ion-text>
            <ion-text class="text-sm">Me conte o que achou</ion-text>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="bg-[#7743fa] p-4 rounded-md cursor-pointer mat-elevation-z2 h-32 " matRipple>
          <ion-label class="flex justify-end">
            <ion-img src="assets/image/friendship-new.png" class="w-6 h-6"></ion-img>
          </ion-label>
          <div class="text-white flex flex-col">
            <ion-text class="text-lg font-bold">Convide seus amigos</ion-text>
            <ion-text class="text-sm">Compartilhe com alguém!</ion-text>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>

