<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/study"></ion-back-button>
    <ion-title>Simulados do Enade</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="flex  border mx-3 rounded-lg py-8 flex-col items-center p-4 pt-8 shadow-md bg-gradient-to-r  to-[#1A7ECC] from-[#1E8FE8] text-white">
      <ion-text class="font-bold  text-xl">Simulado Personalizado</ion-text>
      <ion-text class="text-sm">{{ count() }} Questões Aleatórias</ion-text>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="p-5">
    <div class="py-3">
      <span class="flex items-center gap-2 font-medium text-xl">
        <ion-text>Quantidade de questões:</ion-text>
        <ion-text>{{ count() }}</ion-text>
      </span>
      <ion-range (ionChange)="onRangeChange($event)" color="tertiary" aria-label="Volume" [value]="30" max="30" min="10"></ion-range>
    </div>
    <div class="mt-4">
      <mat-divider class="opacity-40"></mat-divider>
    </div>
    <div class="mt-6">
      <ion-text class="font-medium text-xl">Disciplinas selecionados: </ion-text>
      <div class="mt-6">
        <ion-checkbox checked labelPlacement="end"  color="tertiary">Lógica de Programação</ion-checkbox>
        <ion-checkbox checked labelPlacement="end"  color="tertiary" class="mt-3">Fundamentos da Computação</ion-checkbox>
        <ion-checkbox checked labelPlacement="end"  color="tertiary" class="mt-3">Desenvolvimento de Software</ion-checkbox>
        <ion-checkbox checked labelPlacement="end"  color="tertiary" class="mt-3">Segurança da Informação</ion-checkbox>
        <ion-checkbox checked labelPlacement="end"  color="tertiary" class="mt-3">Insfraestrutura</ion-checkbox>
      </div>
    </div>
    <ion-button class="normal-case mt-7" color="tertiary" expand="block" size="large">
      <span class="text-white">Iniciar</span>
    </ion-button>
  </section>
</ion-content>
