ion-back-button {
  --color: white;
}

ion-segment-button {
  --border-style: solid;
  --border-width: 1px;
  --border-color: var(--ion-color-primary) !important;
}

ion-content {
  --background: #eeeeeebe;
}
