ion-menu {
  --min-width: 80svw;
}

ion-toolbar {
  --background: var(--ion-color-primary-shade);
}

ion-menu-button {
  --color: white;
}


.button-coins {
  --background: white !important;
  --border-radius: 1rem !important;

  &::part(native) {
    padding: 0 0.6rem;
  }
}


ion-menu {

  &::part(backdrop) {
    background-color: transparent;
  }
}
