<div class="bg-white rounded-2xl">
  <ul class="flex [&_li]:flex [&_li]:flex-1 [&_li]:items-center [&_li]:justify-center">
    <li>
      <ion-button size="small">
        <span slot="icon-only" class="text-xs">D</span>
      </ion-button>
    </li>
    <li>
      <ion-button size="small" class="checked">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </li>
    <li>
      <ion-button size="small">
        <span slot="icon-only" class="text-xs">T</span>
      </ion-button>
    </li>
    <li>
      <ion-button size="small">
        <span slot="icon-only" class="text-xs">Q</span>
      </ion-button>
    </li>
    <li>
      <ion-button size="small">
        <span slot="icon-only" class="text-xs">Q</span>
      </ion-button>
    </li>
    <li>
      <ion-button size="small">
        <span slot="icon-only" class="text-xs">S</span>
      </ion-button>
    </li>
    <li>
      <ion-button size="small">
        <span slot="icon-only" class="text-xs">S</span>
      </ion-button>
    </li>
  </ul>
</div>
