ion-content {
  --background: #eee;
}

.profile {
  ion-button {
    --border-radius: 50%;
    --background: #a8a5a5;
  }
}


#close-button, #delete-button {
  --background: var(--ion-color-primary);
  --color: white;
}

