<ion-content>
  <div class="p-4 pt-8">
    <div class="profile bg-white p-6 rounded-md shadow">
      <div class="relative w-24 h-24 rounded-full mx-auto">
        <img class="w-full h-full rounded-full" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <span class="absolute right-0 -bottom-2 scale-90">
          <p-fileUpload
            mode="basic"
            chooseIcon="pi pi-image"
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            accept="image/*"
            maxFileSize="1000000"
            styleClass="rounded-full w-8 h-8 bg-[#a8a5a5] border-none"
          >
          </p-fileUpload>
        </span>
      </div>
      <div class="mt-3">
        <span class="flex flex-col cursor-pointer" matRipple matRippleColor="rgba(0, 0, 0, 0.02)" (click)="showDialog()">
          <ion-label class="font-bold opacity-50 flex items-center gap-2">Nome <i class="fa-solid fa-pencil text-xs"></i></ion-label>
          <ion-text class="font-medium">Gabriel</ion-text>
        </span>
      </div>
      <div class="mt-3">
        <span class="flex flex-col cursor-pointer" matRipple matRippleColor="rgba(0, 0, 0, 0.02)">
          <ion-label class="font-bold opacity-50 flex items-center gap-2">E-mail</ion-label>
          <ion-text class="font-medium">gabrielcardosogirarde&#64;gmail.com</ion-text>
        </span>
      </div>
      <div class="mt-2">
        <ion-text class="text-sm opacity-40">Conta criada em 15/08/2024</ion-text>
      </div>
    </div>
    <div class="configuration bg-white p-6 mt-5  rounded-md shadow">
      <ion-text class="text-xl font-bold">Configurações</ion-text>
      <div class="mt-2">
        <ion-text class="text-sm opacity-40">Não disponível</ion-text>
      </div>
    </div>
    <div class="mt-5">
      <ion-button expand="block" class="normal-case h-12 text-white" id="close-button">Sair</ion-button>
    </div>
    <div class="mt-4">
      <ion-button expand="block" class="normal-case h-12 text-white" id="delete-button">Deletar minha conta</ion-button>
    </div>
    <div class="flex flex-col items-center mt-8 opacity-70">
      <ion-text class="text-xs">Versão: 1.0.0</ion-text>
      <ion-text class="text-xs">Feito com &#10084;&#65039; por  <strong>Gabriel Cardoso</strong></ion-text>
    </div>
  </div>
</ion-content>


<ion-alert
  trigger="close-button"
  header="Atenção!"
  message="Você realmente tem certeza de que deseja sair agora?"
  [buttons]="closeAlertButtons"
></ion-alert>

<p-toast [position]="'top-center'" styleClass="w-[80vw]" />

<ion-alert
  trigger="delete-button"
  header="Atenção!"
  message="Tem certeza de que deseja continuar? Sua conta será permanentemente excluída e poderá ser disponibilizada para outra pessoa."
  [buttons]="deleteAlertButtons"
></ion-alert>
