ion-button {
  --border-radius: 50%;
  --background: #dad7d7;
  --box-shadow: none;

  ion-icon {
    display: none;
  }

  span {
    @apply font-bold opacity-50;
  }

  &.checked {
    --background: var(--ion-color-primary);

    span {
      display: none;
    }

    ion-icon {
      display: block;
      color: white;
    }
  }
}


