ion-back-button {
  --color: white;
  --background-activated: transparent;
  --background-hover: transparent;
}

ion-toolbar {
  --background: transparent;
}

ion-content {
  --background: url('../../../assets/image/background.png');
}
