<ion-content>
  <div class="p-2 flex flex-col justify-center h-full">
    <ion-text color="primary" class="uppercase text-4xl font-bold text-center mb-2">Enadif</ion-text>
    <ion-text color="primary" class="text-sm text-center">
      Teste seus conhecimentos e prepare-se para o Exame Nacional de Desempenho dos Estudantes! 😆
    </ion-text>
    <ion-button color="primary" expand="block" class="mt-3 h-10" href="/account/register">
      <span class="text-white">Criar conta</span>
    </ion-button>
    <ion-button fill="outline" expand="block" class="mt-2 h-10" href="/account/login">
      Fazer login
    </ion-button>
  </div>
</ion-content>
