<ion-content>
  <div class="p-2 flex flex-col justify-center h-full">
    <ion-text color="light" class="uppercase text-4xl font-bold text-center mb-2">Enadif</ion-text>
    <ion-text color="light" class="text-sm text-center opacity-90">
      Teste seus conhecimentos e prepare-se para o Exame Nacional de Desempenho dos Estudantes!
    </ion-text>
    <ion-button color="primary" expand="block" class="mt-3 h-14" routerLink="/account/register">
      <span class="text-white">Criar conta</span>
    </ion-button>
    <ion-button color="light" expand="block" class="mt-2 h-14" routerLink="/account/login">
      Fazer login
    </ion-button>

    <ion-text class="absolute bottom-0 left-1/2 -translate-x-1/2 text-sm mb-2" color="light">Versão 1.0.0</ion-text>
  </div>
</ion-content>
