<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-back-button slot=start defaultHref="/tabs/study"></ion-back-button>
      <ion-text class="font-medium text-xl">Pesquisar</ion-text>
    </ion-item>
  </ion-toolbar>
  <div class="pt-4 px-2 bg-[#ddddddc0]">
    <ion-list lines="none" class="search-input">
      <ion-item>
        <ion-input  placeholder="Digite aqui o nome da questão..">
          <ion-icon slot="start" name="search" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-header>
<ion-content>
  <div class="mt-4 px-2">
    <ion-list lines="none" class="search-term">
      <ion-item button>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div class="flex flex-col">
          <ion-text class="text-sm font-medium">Algoritmos e Estrutura</ion-text>
          <ion-text class="text-sm opacity-80">Lógica</ion-text>
        </div>
      </ion-item>
    </ion-list>
    <!-- <div class="text-justify px-5 mt-5">
      <ion-text class="text-base opacity-70">Ops! Nada encontrado. Que tal explorar outras palavras-chave?</ion-text>
    </div> -->
  </div>
</ion-content>
