<ion-header class="ion-no-border">
  <ion-toolbar [ngStyle]="{ '--background': headerColor() }">
    <ion-item lines="none" [ngStyle]="{ '--background': headerColor() }">
      <ion-back-button color="light" defaultHref="/tabs/notepad"></ion-back-button>
      <ion-title color="light">Nova Nota</ion-title>
      <ion-button href="/tabs/notepad" fill="clear" color="light">
        <i slot="icon-only"  class="fa-solid fa-trash text-xl"></i>
      </ion-button>
    </ion-item>
  </ion-toolbar>
  <div class="p-2">
    <swiper-container [slidesPerView]="7" [loop]="true" [speed]="300">
      @for(color of colorButtons; track color) {
        <swiper-slide>
          <div>
            <ion-button (click)="changeColor(color)" class="w-9 h-9" [ngStyle]="{ '--background': color }"></ion-button>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</ion-header>
<ion-content>
  <div class="h-full flex flex-col border space-y-2 border-red-600" [formGroup]="form">
    <div class="px-2">
      <ion-input formControlName="title" autofocus clearInput placeholder="Título" class="text-3xl font-medium opacity-80" autocapitalize="on"></ion-input>
    </div>
    <div class="flex-1">
      <p-editor formControlName="content" placeholder="Escreva..." styleClass="h-full"></p-editor>
    </div>
  </div>
</ion-content>
