<div class="flex flex-col">
  <ng-content select="[image-content]"></ng-content>
  <div class="mt-5">
    <ng-content select="[form-inputs]"></ng-content>
  </div>
    <p-divider layout="horizontal" align="center" styleClass="text-sm font-bold">OU</p-divider>
    <p-button severity="danger" label="Google" icon="pi pi-google"  styleClass="w-full mt-2"/>
    <p-button  label="Facebook" icon="pi pi-facebook"  styleClass="w-full mt-5"/>

    <ion-item lines="none" [button]="true" class="mt-4">
      <div class="flex justify-center w-full">
        <ng-content select="[footer-content]"></ng-content>
      </div>
    </ion-item>
</div>
