<app-menu-wrapper menuId="ranking">
  <div class="p-4 flex flex-col h-full ">

    <ion-text class="text-xl font-bold text-[var(--ion-color-primary)]">Ranking</ion-text>

    <span class="flex max-w-[90vw] [&_div]:flex-1  [&_div]:h-[40vh]  mx-auto w-full relative">
      <div class="flex flex-col relative top-5">
        <span class="flex flex-col items-center">
            <span>
              <ion-avatar class="w-12">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-text class="text-sm font-medium">Gabriel 1</ion-text>
            </span>
        </span>
        <span class="flex-1  mt-5 rectangle bg-[#BBBBBB] flex flex-col gap-5 items-center justify-center font-bold text-5xl text-white">
          <span class="absolute top-0 h-3 bg-white left-0 block w-full"></span>
          <span class="rectangle__sub bg-[#9d9b9b]"></span>
          <span>2</span>
          <span class="text-lg font-thin">443pt</span>
        </span>
      </div>
      <div class="flex flex-col relative">
        <span class="flex flex-col items-center">
            <span>
              <ion-avatar class="w-12">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-text class="text-sm font-medium">Gabriel 2</ion-text>
            </span>
        </span>
        <span class="flex-1 bg-[#e3ca2b] mt-5 rectangle flex flex-col gap-5 items-center justify-center font-bold text-5xl text-white">
          <span class="absolute top-0 h-3 bg-white left-0 block w-full"></span>
          <span class="rectangle__sub bg-[#D6BC0C]"></span>
          <span>1</span>
          <span class="text-lg font-thin">443pt</span>
        </span>
      </div>
      <div class="flex flex-col relative top-5">
        <span class="flex flex-col items-center">
            <span>
              <ion-avatar class="w-12">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-text class="text-sm font-medium">Gabriel 2</ion-text>
            </span>
        </span>
        <span class="flex-1 bg-[#C27E3E] mt-5 rectangle flex flex-col gap-5 items-center justify-center font-bold text-5xl text-white">
          <span class="absolute top-0 h-3 bg-white left-0 block w-full"></span>
          <span class="rectangle__sub bg-[#9E5716]"></span>
          <span>3</span>
          <span class="text-lg font-thin">443pt</span>
        </span>
      </div>
    </span>
    <ion-list>
      <ion-item>
        <span slot="start">04</span>
        <span class="flex justify-between w-full items-center">
          <div class="flex gap-4 items-center">
            <ion-avatar class="w-8 h-8">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span>Lívia</span>
          </div>
          <span>223pt</span>
        </span>
      </ion-item>
      <ion-item>
        <span slot="start">05</span>
        <span class="flex justify-between w-full items-center">
          <div class="flex gap-4 items-center">
            <ion-avatar class="w-8 h-8">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span>Lívia</span>
          </div>
          <span>223pt</span>
        </span>
      </ion-item>
      <ion-item>
        <span slot="start">06</span>
        <span class="flex justify-between w-full items-center">
          <div class="flex gap-4 items-center">
            <ion-avatar class="w-8 h-8">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span>Lívia</span>
          </div>
          <span>223pt</span>
        </span>
      </ion-item>
      <ion-item>
        <span slot="start">07</span>
        <span class="flex justify-between w-full items-center">
          <div class="flex gap-4 items-center">
            <ion-avatar class="w-8 h-8">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span>Lívia</span>
          </div>
          <span>223pt</span>
        </span>
      </ion-item>
      <ion-item>
        <span slot="start">08</span>
        <span class="flex justify-between w-full items-center">
          <div class="flex gap-4 items-center">
            <ion-avatar class="w-8 h-8">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <span>Lívia</span>
          </div>
          <span>223pt</span>
        </span>
      </ion-item>
    </ion-list>
  </div>
</app-menu-wrapper>
