<div class="flex flex-col gap-2 items-center text-center">
  <img src="assets/image/around-the-world.png" class="w-32">
  <div class="mt-3">
    <ion-text class="text-xl font-semibold">Conecte-se!</ion-text>
  </div>
  <p class="text-sm italic">Faça login ou crie uma conta para personalizar sua jornada e acompanhar seu progresso</p>
  <div class="flex flex-col gap-3 mt-5">
    <p-button label="Entrar na minha conta" styleClass="w-full p-button-success" routerLink="/account/login"></p-button>
    <p-button  label="Registrar-se" styleClass="w-full" routerLink="/account/register"></p-button>
  </div>
</div>
