ion-content {
  --background: url('../../../../../assets/image/background.png');
}

ion-toolbar {
  --background: transparent;
}

ion-list {
  ion-item {
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --border-radius: 0.5rem;
    --background: #eeeeeea6;
    margin: 0.5rem 0;

    &:nth-child(2n + 1) {
      --background: #78c1e037;
    }
  }
}
