<ion-content>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/tabs" color="light"></ion-back-button>
    <ion-title color="light">Ranking</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="flex [&>div]:flex-1 mx-3 gap-5 pt-5">

      <div class="flex flex-col gap-2 relative top-6">
        <div class="flex flex-col justify-center items-center">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <span class="flex flex-col items-center mt-2">
            <ion-text class="font-medium text-white">Jennie</ion-text>
            <span class="text-sm text-white">2.5k</span>
          </span>
        </div>
        <div class="bg-[#97E4EE] h-28 flex items-center justify-center rounded-tl-lg rounded-tr-lg text-4xl font-bold text-white">2</div>
      </div>

      <div class="flex flex-col gap-2">
        <div class="flex flex-col justify-center items-center">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <span class="flex flex-col items-center mt-2">
            <ion-text class="font-medium text-white">Jennie</ion-text>
            <span class="text-sm text-white">2.5k</span>
          </span>
        </div>
        <div class="bg-[#97E4EE] h-28 flex items-center justify-center rounded-tl-lg rounded-tr-lg text-5xl font-bold text-white">1</div>
      </div>

      <div class="flex flex-col gap-2 relative top-12">
        <div class="flex flex-col justify-center items-center">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <span class="flex flex-col items-center mt-2">
            <ion-text class="font-medium text-white">Jennie</ion-text>
            <span class="text-sm text-white">2.5k</span>
          </span>
        </div>
        <div class="bg-[#97E4EE] h-28 pt-4 flex justify-center text-4xl font-bold rounded-tl-lg rounded-tr-lg text-white">3</div>
      </div>


    </div>
  </ion-toolbar>
</ion-content>
